body {
  background: #02231C;
  font-family: 'Play', sans-serif;
  color: #00FFFF;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #FF8000;
  outline: 0;
}

li a {
  margin-right: 20px;
  border: 2px solid #02231C;
}

li a:hover {
  border: 2px solid #00FFFF;
}

#name {
  font-family: 'Orbitron', sans-serif;
  border: 2px solid #00FFFF;
  font-size: 60px;
  padding-left: 2px;
  padding-top: 5px;
  margin-bottom: -8px;
}

#description {
  float: right;
  font-size: 20px;
  margin-top: -20px;
  margin-right: 20px;
}

@media screen and (max-width:480px) {
  #description {
    float: right;
    font-size: 20px;
    margin-top: -19px;
    margin-right: 20px;
  }

  #name {
    font-family: 'Orbitron', sans-serif;
    border: 2px solid #00FFFF;
    font-size: 60px;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-bottom: -8px;
  }
}

@media screen and (max-width:400px) {
  li a {
    font-size: 15px;
  }
}

.plain {
  text-decoration: none;
  color: #00FFFF;
  outline: 0;
}

.container {
  margin-right: 2%; 
  margin-left: 2%; 
  margin-bottom: 20px; 
  display: inline-block
}

.images {
  position: relative;
  height: 200px; 
  width: 200px;
  margin-top: 20px;
  z-index: -1;
}

.images2 {
  position: relative;
  height: 180px;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 10px;
  z-index: -1;
}

.overlay {
  height: 200px;
  width: 200px;
  margin-top: -204px;
  box-sizing: border-box;
}

.overlay:hover {
  background-color: rgba(85, 255, 255, 0.3);
  border: 1px solid #00FFFF;
}

.block {
  color: #00FFFF; 
  background: #0C3836; 
  border: solid #00AAAA 2px; 
  border-radius: 10px 10px 10px 10px; 
  padding: 10px; 
  display: inline-block;
}

.pic {
  height: 400px; 
  width: 800px; 
  display: block; 
  margin: 0 auto; 
  margin-top: 30px; 
  margin-bottom: 30px; 
  border: 2px solid #00FFFF; 
  padding: 2px;
}

.pic-thin {
  height: 200px;
  width: 800px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #00FFFF;
  padding: 2px;
}

.pic-very-thin {
  height: 100px;
  width: 800px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #00FFFF;
  padding: 2px;
}

.andsquare {
  height: 400px; 
  width: 400px; 
  display: block; 
  margin: 0 auto; 
  margin-top: 30px; 
  margin-bottom: 30px; 
  padding: 2px;
}
